.wrapper {
    display: flex;
    justify-content: space-between;
}

.images {
    width: 10%;
    display: flex;
    flex-direction: column;

    img {
        margin-top: 10px;
    }
}

.mainImage {
    width: 35%;

    img {
        width: 100%;
    }
}

.description {
    width: 30%;
}